.profile {
    padding-top: 20px;
    margin-top: 30px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    overflow: hidden;
}
.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    
}
.avatar {
    border-radius: 50%;
    width: 40%;
    background-color: darkslategrey;
}
.name {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 28px;
    font-weight: bold;
    color: black;
    margin: 0;
}
.tag {
    padding-bottom: 10px;
    font-size: 22px;
    color: darkslategray;
    margin: 0;
}
.location {
    font-size: 22px;
    color: darkslategray;
    margin: 0;
}
.stats {
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0;
    
}
.item {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    border-color: black;
    background-color: rgb(228, 222, 222);
    width: 100%;
    border: 1px solid darkgray;
    margin: 0;
}
.label {
    font-size: 18px;
    color: black;
    
}
.quantity {
    padding-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    
}