.item{
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100px;
    background-color: white;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.2),
            0px 1px 1px rgba(46, 47, 66, 0.2),
            0px 2px 1px rgba(46, 47, 66, 0.16);
    border-radius: 5px;
    border: 1px solid black;
}
.name {
    color: black;
    font-size: 25px;
    margin: 0;
}
.avatar {

}

.statusOn {
    font-weight: bold;
    color: green;
    margin: 0;
}

.statusOff {
    font-weight: bold;
    color:red;
    margin: 0;
}