.transactHistory {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(223, 216, 216);
    border-radius: 5px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.2),
            0px 1px 1px rgba(46, 47, 66, 0.2),
            0px 2px 1px rgba(46, 47, 66, 0.16);
    border: 1px solid darkslategrey;
}

thead {
    background-color: darkslategrey;
}

thead th {
    padding: 10px 40px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: rgb(222, 221, 221);
}

tbody tr:nth-child(odd) {
    background-color: rgb(250, 250, 250);
}

tbody td {
    padding: 5px 60px;
    text-align: center;
    font-size: 14px;
    color: black;
    border: 1px solid darkslategrey;
}